@import "./app/components/styles/colors.scss";

body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body::-webkit-scrollbar {
    display: none; /* Приховує скролбар для браузерів на основі WebKit (Chrome, Safari) */
}

.highlight {
    background-color: $text-highlight-color;
}