<div class="news-block">
    <div class="news-block__wrapper">
        <div class="news-block__image">

        </div>
        <div class="news-block__short-info">
            <div class="news-block__data-info">
                <img src="../../../assets/data-info-icon.svg">
                <span class="news-block__data-info-title">June 29th, 2021</span>
            </div>
            <div class="news-block__main-content">
                <span class="news-block__main-content-title">
                    The 2020 World's Most Valuable Brands
                </span>
                <span class="news-block__main-content-paragraph">
                    Non sed molestie tortor massa vitae in mattis. 
                    Eget vel consequat hendrerit commodo libero 
                    aliquam. Urna arcu nunc tortor vitae pharetra...
                </span>
            </div>
            <div class="news-block__action-footer">
                <span class="news-block__action-footer-title">Read more</span>
                <img src="../../../assets/read-more-arrow.svg">
            </div>
        </div>
    </div>
</div>